<section class="pt-8 ph-2">
  <div class="container--s">
    <header class="clear">
      <h1 class="h2 bold float-l">Svbstrate</h1>
      <p class="c-theme float-r">v{{meta.version}}</p>
    </header>
    <hr>
    <p class="mt-1">Svbstrate is a base set of atomic styles suitable for any project. What is here is easily configurable to suit your needs, and since it's built on SASS, it's easy to extend and build on.</p>
  </div>
</section>

{{#each sections}}
  <section class="pv-4 ph-2">
    <div class="container--s">
      <h2 class="medium">{{title}}</h2>
      {{markdown content}}
    </div>
  </section>
{{/each}}

